* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 10px;
    background-color: #f5f5d5;
}
.intro {
    margin: 10px 0;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    text-indent: 16px;
    font-size: 18px;
    background-color: antiquewhite;

}
.dice {
    margin-bottom: 20px;
}
.title {
    border-radius: 5px;
    text-indent: 10px;
}

.box {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    padding: 8px;
    background-color: #000;
}

.item {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}

.dice-1 .box {
    display: flex;
}

.dice-2 .box {
    display: flex;
    justify-content: center;
}

.dice-3 .box {
    display: flex;
    justify-content: flex-end;
}

.dice-4 .box {
    display: flex;
    align-items: center;
}

.dice-5 .box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-6 .box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dice-7 .box {
    display: flex;
    align-items: flex-end;
}

.dice-8 .box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dice-9 .box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.dice-10 .box {
    display: flex;
    justify-content: space-between;
}

.dice-11 .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dice-12 .box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dice-13 .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dice-14 .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dice-15 .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.dice-16 .box {
    display: flex;
}
.dice-16 .item:nth-child(2) {
    align-self: center;
}

.dice-17 .box {
    display: flex;
    justify-content: space-around;
}
.dice-17 .item:nth-child(2) {
    align-self: flex-end;
}

.dice-18 .box {
    display: flex;
}
.dice-18 .item:nth-child(2) {
    align-self: center;
}
.dice-18 .item:nth-child(3) {
    align-self: flex-end;
}

.dice-19 .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}

.dice-20 .box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.dice-20 .column {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.dice-21 .box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.dice-22 .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.dice-23 .box {
    display: flex;
    flex-wrap: wrap;
}
.dice-23 .column {
    flex-basis: 100%;
    display: flex;
}
.dice-23 .column:nth-child(2) {
    justify-content: center;
}
.dice-23 .column:nth-child(3) {
    justify-content: space-between;
}

.dice-24 .box {
    display: flex;
    flex-wrap: wrap;
}

.grid-box {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}
.grid-line {
    margin-bottom: 20px;
}
.grid-cell {
    display: flex;
    padding-left: 10px;
}
.grid-cell span {
    flex-basis: 100%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #F4F3F0;
}

.grid-box-1 .grid-line {
    display: flex;
}
.grid-box-1 .grid-cell {
    flex: 1;
}

.grid-box-2 .grid-line {
    display: flex;
}
.grid-box-2 .grid-cell {
    flex: 1;
}
.grid-box-2 .cell-25 {
    flex: 0 0 25%;
}
.grid-box-2 .cell-33 {
    flex: 0 0 33.33%;
}
.grid-box-2 .cell-50 {
    flex: 0 0 50%;
}

.grail-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.grail-body {
    display: flex;
    flex: 1;
}
.grail-main {
    flex: 1;
    background-color: aqua;
}
.grail-left, .grail-right {
    flex: 0 0 120px;
    background-color: pink;
}
/* 小屏幕自动叠加 */
@media (max-width: 768px) {
    .grail-body {
      flex-direction: column;
    }
    .grail-main,
    .grail-left,
    .grail-right {
      flex: auto;
    }
  }